/* Font Files */
@font-face {
  font-family: F_Bold;
  src: local("F_Bold"), url("BOLD.TTF");
}

/* main css */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  direction: rtl;
}

body,
html {
  font-family: F_Bold, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

input,
button {
  border: none;
  outline: none;
}

/* error form style */

#error {
  position: relative;
  top: -5px;
  color: red;
  font-size: 14px;
  width: max-content;
  margin: 0 auto;
  padding: 0 5px 3px;
  background: #fcfefe;
  border-radius: 3px;
  border: 1px solid red;
  line-height: 1.2;
  opacity: 0;
  transition: 0.2s;
}

#error.active {
  opacity: 1;
}

/* button */

.btn_img {
  width: 55%;
  margin: 0 auto;
  padding: 8px 0 10px;
}

.div_btn {
  text-align: center;
}
.div_btn .btn {
  font-family: F_Bold, sans-serif;
  font-size: 28px;
  padding: 1px 38px 5px;
  line-height: 1.9;
  color: #fff;
  background: linear-gradient(#F7AD20,#F55F1A);
  border-radius: 30px;
  box-shadow: 0 5px 15px #5858586b;
  cursor: pointer;
}

.div_btn .btn span {
  color: #fff;
}
@media (min-width: 576px) {
  .btn_img {
    width: 300px;
  }
}

@media (min-width: 992px) {
  .btn_img {
    width: 260px;
  }
}

/* ================== */
/* Start hero Section */

.hero .content {
  background: url(../images/bg-hero.webp);
  background-size: cover;
  background-position: bottom;
  padding-top: 7px;
  text-align: center;
}
.hero ul li {
  font-size: 5.4vw;
  line-height: 1.25;
  padding: 4px 1px 8px;
  margin: 0 auto 8px;
  box-shadow: 0 5px 15px #58585820;
  border-radius: 25px 0 25px 0;
  width: 90%;
  overflow: hidden;
}
.hero ul li.black {
  background: url(../images/black.webp);
    background-position: center;
  background-size: cover;
  color: #fff;
}
.hero ul li.black span {
    background: rgba(0, 0, 0, 0.5);
    padding: 0 5px 3px;
    border-radius: 12px;
    background: linear-gradient(#F55F1A, #F7AD20);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.hero ul li.orange {
  background: linear-gradient(#F7AD20,#F55F1A);
    background-position: center;
  color: #fff;
  padding: 4px 1px 8px;
}

.hero ul li.last {
  margin-bottom: 0;
}

/* ==========  Responsive Design  ========== */
/* ==========  sm ≥ 576px  ========== */
@media (min-width: 576px) {
  .hero ul li {
    border-radius: 20px;
    margin: 0 auto 10px;
    width: 76%;
    font-size: 4.5vw;
    padding: 4px 1px 14px;
  }

  .hero ul li.orange,
  .hero ul li.black {
    border-radius: 20px;
    margin: 0 auto 10px;
    box-shadow: 0 5px 15px #5858584b;
  }
}

/* ==========  md ≥ 768px  ========== */
@media (min-width: 768px) {
}

/* ==========  lg ≥ 992px  ========== */
@media (min-width: 992px) {
  .flex {
    display: flex;
  }
  .flexone {
    align-items: center;
  }
  .hero {
    width: 50%;
  }

  .hero .top_img {
    margin-top: -4vw;
  }
  .hero ul li {
    font-size: 20px;
  }
}

/* ==========  xl ≥ 1200px  ========== */
@media (min-width: 1200px) {
  .hero ul li {
    width: 60%;
    font-size: 24px;
  }
}
@media (min-width: 1500px) {
  .hero ul li {
    width: 60%;
    font-size: 28px;
  }
}
@media (min-width: 1500px) {
  .hero ul li {
    width: 65%;
    font-size: 28px;
  }
  .hero ul li.orange, .hero ul li.black {
    margin-bottom: 20px;
  }
}

/* End hero Section */
/* ================== */

/* ================== */
/* Start Results Section */
.results {
  position: relative;
  background: url(../images/result-bg.webp);
  background-size: cover;
  background-position: center;

}
.results .top_results {
  background: linear-gradient(to top,#F45A19, #F7AD20);
  text-align: center;
  padding-bottom: 10px;
    border-radius: 0 0 60px 60px;
}
.results h2{
    background: url(../images/black.webp);
    background-position: center;
  background-size: cover;
  font-size: 10vw;
  line-height: 1.4;
  padding-bottom: 15px;
  border-radius: 0 0 50px 50px;
}
.results h3{
  color: #fff;
  font-size: 5vw;
  line-height: 1.2;
}

.results h2 span{
        background: linear-gradient(#F45A19, #F7AD20);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
      line-height: 1.2;
    color: transparent;
}
.results img {
  display: block;
}


/* ==========  Responsive Design  ========== */
/* ==========  sm ≥ 576px  ========== */
@media (min-width: 576px) {
.results h2{
  font-size: 8.5vw;
}
.results h3{
  font-size: 4.3vw;
}
  }


/* ==========  lg ≥ 992px  ========== */
@media (min-width: 992px) {
  .results{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .results h2{
    font-size: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .results h3{
    font-size: 26px;
    padding: 10px 0;
  }
}

/* ==========  xl ≥ 1200px  ========== */
@media (min-width: 1300px) {

}


/* End Results Section */
/* ================== */

/* ================== */
/* Start doctor Section */

.doctor {
  position: relative;
}

.doctor .btn_img {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
/* ==========  Responsive Design  ========== */
/* ==========  sm ≥ 576px  ========== */
@media (min-width: 576px) {

  }


/* ==========  lg ≥ 992px  ========== */
@media (min-width: 992px) {

  .doctor {
    width: 50%;
  }


}

/* ==========  xl ≥ 1200px  ========== */
@media (min-width: 1300px) {

}

/* End doctor Section */
/* ================== */

/* ================== */
/* Start how_work Section */

.how_work .top_work{
  background: url(../images/top-how-work.webp) center/cover;
}
.how_work .top_how_work {
  background: linear-gradient(to top,#F45A19, #F7AD20);
  text-align: center;
  padding-bottom: 10px;
    border-radius: 0 0 60px 60px;
}
.how_work h2{
    background: url(../images/black.webp);
    background-position: center;
  background-size: cover;
  font-size: 8.4vw;
  line-height: 1.4;
  padding-bottom: 15px;
  border-radius: 0 0 50px 50px;
}
.how_work h3{
  color: #fff;
  font-size: 6.6vw;
  line-height: 1.3;
}

.how_work h2 span{
        background: linear-gradient(#F45A19, #F7AD20);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.how_work .text_Work{
        padding-top: 15px;
  background: url(../images/btm-work.webp) center/cover;
}
.how_work ul {
  padding: 15px 0 0;
}

.how_work ul li {
  font-size: 5.2vw;
  line-height: 1.3;
  color: #fff;
  text-align: center;
  margin: 0 auto 7px;
  padding: 2px 5px 6px;
  width: 90%;
}
.how_work ul li:nth-child(odd) {
  background: linear-gradient(to top,#F7AD20, #F45A19);
  border-radius: 12px 0 12px 0;
}

/* ==========  Responsive Design  ========== */
/* ==========  sm ≥ 576px  ========== */
@media (min-width: 576px) {
  .how_work ul li {
    font-size: 4vw;
    padding: 0 10px 8px;
    border-radius: 10px;
    width: max-content;
    margin: 0 auto 10px;
  }
  .how_work .img_how_work {
    width: 75%;
    margin: 0 auto 10px;
    border-radius: 15px;
  }
  .how_work h2{
    font-size: 7vw;
  }
  .how_work h3{
    font-size: 5.6vw;
  }
}

/* ==========  lg ≥ 992px  ========== */
@media (min-width: 992px) {
  .how_work {
    width: 50%;
    background: #1F1F1F;
  }
  .how_work ul li{
    font-size: 25px;
    margin-bottom: 12px;
  }
  .doctor .tall_p{
    font-size: 16px;
  }
    .how_work .top_work{
    padding-bottom: 10px;
  }
  .how_work .text_Work{
    padding-top: 0;
  }

  .how_work h2{
      font-size: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
  }
  .how_work h3{
    font-size: 28px;
    padding: 10px 0;
  }
}

/* ==========  xl ≥ 1200px  ========== */
@media (min-width: 1200px) {
}

/* End how_work Section */
/* ================== */

/* ================== */
/* Start form_section Section */

/* top form section */

/* form */

.form_section .container_form {
  background: #FFFFFF;
  padding-bottom: 10px;
}

.form_section .sm-p {
  font-size: 2.7vw;
  text-align: center;
  line-height: 1.5;
  color: #151515;
  padding: 7px 0;
}

.form_section form {
  background: linear-gradient(#363636, #151515);
  text-align: center;
  width: 95%;
  margin: 0 auto;
  border-radius: 18px;
  box-shadow: 5px 5px 8px #00000027;
  padding-bottom: 15px;
}
.form_section .top_form {
  padding: 12px 0;
}
.form_section .top_form p {
  font-size: 5.2vw;
  line-height: 1.3;
  color: #F7AD20;
}
.form_section .top_form p.two{
  color: #F45A19;
}

.form_section form .input_div {
  position: relative;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 12px;
}

.form_section form .input_div svg {
  position: absolute;
  width: 30px;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.form_section form .input_div .icon_Phone {
  transform: translateY(-50%) scaleX(-1);
}

.form_section form input {
  width: 100%;
  padding: 15px 40px 15px 10px;
  font-size: 18px;
  box-shadow: 5px 5px 8px #00000031;
  text-align: right;
  font-family: sans-serif;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: 0.3s ease-in;
}
.form_section form input:focus {
  border-color: #68e03e;
}

/* ==========  Responsive Design  ========== */
/* ==========  sm ≥ 576px  ========== */
@media (min-width: 576px) {
  .form_section .sm-p {
    font-size: 2.5vw;
  }
  .form_section .top_form p {
    font-size: 4.8vw;
  }
  .form_section form .input_div {
    width: 90%;
  }
  .form_section .top_form p {
    font-size: 4.2vw;
  }
  .form_section form {
    width: 85%;
  }
}

/* ==========  lg ≥ 992px  ========== */
@media (min-width: 992px) {
  .form_section {
    display: flex;
  }
  .form_section .price {
    width: 50%;
    background: linear-gradient(#FAFAFA,#DCDCDC);
  }

  .form_section .container_form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .form_section form {
    width: 90%;
  }

  .form_section .sm-p {
    font-size: 13.5px;
  }
  .form_section .top_form p {
    font-size: 24px;
  }
}

/* ==========  xl ≥ 1200px  ========== */
@media (min-width: 1200px) {
  .form_section form {
    width: 80%;
    padding: 25px 20px 30px;
    min-width: 550px;
  }

}

/* End form_section Section */
/* ================== */

/* ================== */
/* Start footer Section */

.footer {
  background: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 20px;
}
.footer .boxs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 94%;
  margin: 0 auto;
}

.footer .boxs .box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  width: 33.3%;
}

.footer .boxs .box img {
  height: 24px;
  width: auto;
}

.footer .boxs .box p {
  font-size: 2.4vw;
  line-height: 1.5;
  color: #151515;
}

/* ==========  Responsive Design  ========== */
/* ==========  sm ≥ 576px  ========== */
@media (min-width: 576px) {
  .footer .boxs .box img {
    height: 28px;
  }
}

/* ==========  lg ≥ 992px  ========== */
@media (min-width: 992px) {

  .footer .boxs .box {
    gap: 20px;
  }
  .footer .boxs .box img {
    height: 40px;
  }
  .footer .boxs .box p {
    font-size: 18px;
  }
}

/* End footer Section */
/* ================== */
